.main-header {
    position: relative;
    background-color: $clr1bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
width: 1440px;
    main {
        @include flexcenter();
        position: relative;
  
        width: 1110px;
        height: 200px;
        color: $clr1;
        justify-content: space-between;

        .img1 {
            position: absolute;
            left: -264px;
        }

        h1 {
            font-size: 100px;
        }

        .container {
            width: 445px;
            height: 195px;
            display: flex;
            flex-direction: column;
            position: relative;

            .line {
                width: 50px;
                height: 4px;
                background-color: $clr3;
            }

            p {
                margin-top: auto;
                font-size: 18px;
            }
        }


    }

    .img2 {
        position: absolute;
        right: 165px;
        bottom: 0;
    }
}