
  $clr1: white;
  $clr2: #F67E7E;
  $clr3: #79C8C7;
  $clr4: #012F34;



  $clr1bg:#014E56 ;
  $clr2bg: #012F34;
  $clr3bg: #F67E7E;
  $clr4bg: #002529;

  

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);

  $layoutPadding: 20px;

  // LAYOUT BREAKPOINTS
  $break-narrow: 600px;
  $break-normal: 900px;
  $break-wide: 1120px;
  
  $padded-break-narrow: $break-narrow + $layoutPadding * 2;
  $padded-break-normal: $break-normal + $layoutPadding * 2;
  $padded-break-wide: $break-wide + $layoutPadding * 2;